<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyAccessDB"
			 connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Programming\alo.bg\client4\store_manager\inventory_management\inventory_management.accdb"
			 providerName="System.Data.OleDb" />
	</connectionStrings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
</configuration>